<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Checker</title>
    <link rel="stylesheet" href='/static/styles.css' />
    
</head>
<body>
    <header>Squat Rep Counter 🏋️</header>
    <main>
        <div class="main-cam">
            <img src="{{ url_for('video_feed') }}" alt="Webcam feed" style="width: 100%;">
            <p>Reps: </p>
        </div>
    </main>
    <footer>
        <p><a href="https://github.com/PShah81/Bitcamp-Project">Github Repo</a></p>
    </footer>
</body>
</html>
